# Ignore virtual environment and editor settings
venv/
.vscode/

# Ignore everything in hugging_face_models except .gitkeep
backend/hugging_face_models/*
!backend/hugging_face_models/.gitkeep

# Ignore app database
backend/data/app.db

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore init files
**/__init__.py
